@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900");
@font-face {
  font-family: 'td';
  src: url("fonts/td.eot?-h76b3j");
  src: url("fonts/td.eot?#iefix-h76b3j") format("embedded-opentype"), url("fonts/td.woff?-h76b3j") format("woff"), url("fonts/td.ttf?-h76b3j") format("truetype"), url("fonts/td.svg?-h76b3j#td") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Skel */
/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

/* Box Model */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Containers */
.container {
  margin-left: auto;
  margin-right: auto; }

.container.\31 25\25 {
  width: 100%;
  max-width: 1500px;
  min-width: 1200px; }

.container.\37 5\25 {
  width: 900px; }

.container.\35 0\25 {
  width: 600px; }

.container.\32 5\25 {
  width: 300px; }

.container {
  width: 1200px; }

@media screen and (max-width: 1680px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 1250px;
    min-width: 1000px; }

  .container.\37 5\25 {
    width: 750px; }

  .container.\35 0\25 {
    width: 500px; }

  .container.\32 5\25 {
    width: 250px; }

  .container {
    width: 1000px; } }
@media screen and (max-width: 1366px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 118.75%;
    min-width: 95%; }

  .container.\37 5\25 {
    width: 71.25%; }

  .container.\35 0\25 {
    width: 47.5%; }

  .container.\32 5\25 {
    width: 23.75%; }

  .container {
    width: 95%; } }
@media screen and (max-width: 1080px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 125%;
    min-width: 100%; }

  .container.\37 5\25 {
    width: 75%; }

  .container.\35 0\25 {
    width: 50%; }

  .container.\32 5\25 {
    width: 25%; }

  .container {
    width: 100%; } }
@media screen and (max-width: 768px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 125%;
    min-width: 100%; }

  .container.\37 5\25 {
    width: 75%; }

  .container.\35 0\25 {
    width: 50%; }

  .container.\32 5\25 {
    width: 25%; }

  .container {
    width: 100%; } }
@media screen and (max-width: 736px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 125%;
    min-width: 100%; }

  .container.\37 5\25 {
    width: 75%; }

  .container.\35 0\25 {
    width: 50%; }

  .container.\32 5\25 {
    width: 25%; }

  .container {
    width: 100%; } }
@media screen and (max-width: 480px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 125%;
    min-width: 100%; }

  .container.\37 5\25 {
    width: 75%; }

  .container.\35 0\25 {
    width: 50%; }

  .container.\32 5\25 {
    width: 25%; }

  .container {
    width: 100%; } }
/* Grid */
.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row > * {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row:after, .row:before {
  content: '';
  display: block;
  clear: both;
  height: 0; }

.row.uniform > * > :first-child {
  margin-top: 0; }

.row.uniform > * > :last-child {
  margin-bottom: 0; }

.row.\30 \25  > * {
  padding: 0px 0 0 0px; }

.row.\30 \25 {
  margin: 0px 0 -1px 0px; }

.row.uniform.\30 \25  > * {
  padding: 0px 0 0 0px; }

.row.uniform.\30 \25 {
  margin: 0px 0 -1px 0px; }

.row > * {
  padding: 40px 0 0 40px; }

.row {
  margin: -40px 0 -1px -40px; }

.row.uniform > * {
  padding: 40px 0 0 40px; }

.row.uniform {
  margin: -40px 0 -1px -40px; }

.row.\32 00\25  > * {
  padding: 80px 0 0 80px; }

.row.\32 00\25 {
  margin: -80px 0 -1px -80px; }

.row.uniform.\32 00\25  > * {
  padding: 80px 0 0 80px; }

.row.uniform.\32 00\25 {
  margin: -80px 0 -1px -80px; }

.row.\31 50\25  > * {
  padding: 60px 0 0 60px; }

.row.\31 50\25 {
  margin: -60px 0 -1px -60px; }

.row.uniform.\31 50\25  > * {
  padding: 60px 0 0 60px; }

.row.uniform.\31 50\25 {
  margin: -60px 0 -1px -60px; }

.row.\35 0\25  > * {
  padding: 20px 0 0 20px; }

.row.\35 0\25 {
  margin: -20px 0 -1px -20px; }

.row.uniform.\35 0\25  > * {
  padding: 20px 0 0 20px; }

.row.uniform.\35 0\25 {
  margin: -20px 0 -1px -20px; }

.row.\32 5\25  > * {
  padding: 10px 0 0 10px; }

.row.\32 5\25 {
  margin: -10px 0 -1px -10px; }

.row.uniform.\32 5\25  > * {
  padding: 10px 0 0 10px; }

.row.uniform.\32 5\25 {
  margin: -10px 0 -1px -10px; }

.\31 2u, .\31 2u\24 {
  width: 100%;
  clear: none;
  margin-left: 0; }

.\31 1u, .\31 1u\24 {
  width: 91.6666666667%;
  clear: none;
  margin-left: 0; }

.\31 0u, .\31 0u\24 {
  width: 83.3333333333%;
  clear: none;
  margin-left: 0; }

.\39 u, .\39 u\24 {
  width: 75%;
  clear: none;
  margin-left: 0; }

.\38 u, .\38 u\24 {
  width: 66.6666666667%;
  clear: none;
  margin-left: 0; }

.\37 u, .\37 u\24 {
  width: 58.3333333333%;
  clear: none;
  margin-left: 0; }

.\36 u, .\36 u\24 {
  width: 50%;
  clear: none;
  margin-left: 0; }

.\35 u, .\35 u\24 {
  width: 41.6666666667%;
  clear: none;
  margin-left: 0; }

.\34 u, .\34 u\24 {
  width: 33.3333333333%;
  clear: none;
  margin-left: 0; }

.\33 u, .\33 u\24 {
  width: 25%;
  clear: none;
  margin-left: 0; }

.\32 u, .\32 u\24 {
  width: 16.6666666667%;
  clear: none;
  margin-left: 0; }

.\31 u, .\31 u\24 {
  width: 8.3333333333%;
  clear: none;
  margin-left: 0; }

.\31 2u\24  + *,
.\31 1u\24  + *,
.\31 0u\24  + *,
.\39 u\24  + *,
.\38 u\24  + *,
.\37 u\24  + *,
.\36 u\24  + *,
.\35 u\24  + *,
.\34 u\24  + *,
.\33 u\24  + *,
.\32 u\24  + *,
.\31 u\24  + * {
  clear: left; }

.\-11u {
  margin-left: 91.66667%; }

.\-10u {
  margin-left: 83.33333%; }

.\-9u {
  margin-left: 75%; }

.\-8u {
  margin-left: 66.66667%; }

.\-7u {
  margin-left: 58.33333%; }

.\-6u {
  margin-left: 50%; }

.\-5u {
  margin-left: 41.66667%; }

.\-4u {
  margin-left: 33.33333%; }

.\-3u {
  margin-left: 25%; }

.\-2u {
  margin-left: 16.66667%; }

.\-1u {
  margin-left: 8.33333%; }

@media screen and (max-width: 1680px) {
  .row > * {
    padding: 40px 0 0 40px; }

  .row {
    margin: -40px 0 -1px -40px; }

  .row.uniform > * {
    padding: 40px 0 0 40px; }

  .row.uniform {
    margin: -40px 0 -1px -40px; }

  .row.\32 00\25  > * {
    padding: 80px 0 0 80px; }

  .row.\32 00\25 {
    margin: -80px 0 -1px -80px; }

  .row.uniform.\32 00\25  > * {
    padding: 80px 0 0 80px; }

  .row.uniform.\32 00\25 {
    margin: -80px 0 -1px -80px; }

  .row.\31 50\25  > * {
    padding: 60px 0 0 60px; }

  .row.\31 50\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\31 50\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\31 50\25 {
    margin: -60px 0 -1px -60px; }

  .row.\35 0\25  > * {
    padding: 20px 0 0 20px; }

  .row.\35 0\25 {
    margin: -20px 0 -1px -20px; }

  .row.uniform.\35 0\25  > * {
    padding: 20px 0 0 20px; }

  .row.uniform.\35 0\25 {
    margin: -20px 0 -1px -20px; }

  .row.\32 5\25  > * {
    padding: 10px 0 0 10px; }

  .row.\32 5\25 {
    margin: -10px 0 -1px -10px; }

  .row.uniform.\32 5\25  > * {
    padding: 10px 0 0 10px; }

  .row.uniform.\32 5\25 {
    margin: -10px 0 -1px -10px; }

  .\31 2u\28xlarge\29, .\31 2u\24\28xlarge\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28xlarge\29, .\31 1u\24\28xlarge\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28xlarge\29, .\31 0u\24\28xlarge\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28xlarge\29, .\39 u\24\28xlarge\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28xlarge\29, .\38 u\24\28xlarge\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28xlarge\29, .\37 u\24\28xlarge\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28xlarge\29, .\36 u\24\28xlarge\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28xlarge\29, .\35 u\24\28xlarge\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28xlarge\29, .\34 u\24\28xlarge\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28xlarge\29, .\33 u\24\28xlarge\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28xlarge\29, .\32 u\24\28xlarge\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28xlarge\29, .\31 u\24\28xlarge\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28xlarge\29  + *,
  .\31 1u\24\28xlarge\29  + *,
  .\31 0u\24\28xlarge\29  + *,
  .\39 u\24\28xlarge\29  + *,
  .\38 u\24\28xlarge\29  + *,
  .\37 u\24\28xlarge\29  + *,
  .\36 u\24\28xlarge\29  + *,
  .\35 u\24\28xlarge\29  + *,
  .\34 u\24\28xlarge\29  + *,
  .\33 u\24\28xlarge\29  + *,
  .\32 u\24\28xlarge\29  + *,
  .\31 u\24\28xlarge\29  + * {
    clear: left; }

  .\-11u\28xlarge\29 {
    margin-left: 91.66667%; }

  .\-10u\28xlarge\29 {
    margin-left: 83.33333%; }

  .\-9u\28xlarge\29 {
    margin-left: 75%; }

  .\-8u\28xlarge\29 {
    margin-left: 66.66667%; }

  .\-7u\28xlarge\29 {
    margin-left: 58.33333%; }

  .\-6u\28xlarge\29 {
    margin-left: 50%; }

  .\-5u\28xlarge\29 {
    margin-left: 41.66667%; }

  .\-4u\28xlarge\29 {
    margin-left: 33.33333%; }

  .\-3u\28xlarge\29 {
    margin-left: 25%; }

  .\-2u\28xlarge\29 {
    margin-left: 16.66667%; }

  .\-1u\28xlarge\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 1366px) {
  .row > * {
    padding: 40px 0 0 40px; }

  .row {
    margin: -40px 0 -1px -40px; }

  .row.uniform > * {
    padding: 40px 0 0 40px; }

  .row.uniform {
    margin: -40px 0 -1px -40px; }

  .row.\32 00\25  > * {
    padding: 80px 0 0 80px; }

  .row.\32 00\25 {
    margin: -80px 0 -1px -80px; }

  .row.uniform.\32 00\25  > * {
    padding: 80px 0 0 80px; }

  .row.uniform.\32 00\25 {
    margin: -80px 0 -1px -80px; }

  .row.\31 50\25  > * {
    padding: 60px 0 0 60px; }

  .row.\31 50\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\31 50\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\31 50\25 {
    margin: -60px 0 -1px -60px; }

  .row.\35 0\25  > * {
    padding: 20px 0 0 20px; }

  .row.\35 0\25 {
    margin: -20px 0 -1px -20px; }

  .row.uniform.\35 0\25  > * {
    padding: 20px 0 0 20px; }

  .row.uniform.\35 0\25 {
    margin: -20px 0 -1px -20px; }

  .row.\32 5\25  > * {
    padding: 10px 0 0 10px; }

  .row.\32 5\25 {
    margin: -10px 0 -1px -10px; }

  .row.uniform.\32 5\25  > * {
    padding: 10px 0 0 10px; }

  .row.uniform.\32 5\25 {
    margin: -10px 0 -1px -10px; }

  .\31 2u\28large\29, .\31 2u\24\28large\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28large\29, .\31 1u\24\28large\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28large\29, .\31 0u\24\28large\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28large\29, .\39 u\24\28large\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28large\29, .\38 u\24\28large\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28large\29, .\37 u\24\28large\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28large\29, .\36 u\24\28large\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28large\29, .\35 u\24\28large\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28large\29, .\34 u\24\28large\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28large\29, .\33 u\24\28large\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28large\29, .\32 u\24\28large\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28large\29, .\31 u\24\28large\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28large\29  + *,
  .\31 1u\24\28large\29  + *,
  .\31 0u\24\28large\29  + *,
  .\39 u\24\28large\29  + *,
  .\38 u\24\28large\29  + *,
  .\37 u\24\28large\29  + *,
  .\36 u\24\28large\29  + *,
  .\35 u\24\28large\29  + *,
  .\34 u\24\28large\29  + *,
  .\33 u\24\28large\29  + *,
  .\32 u\24\28large\29  + *,
  .\31 u\24\28large\29  + * {
    clear: left; }

  .\-11u\28large\29 {
    margin-left: 91.66667%; }

  .\-10u\28large\29 {
    margin-left: 83.33333%; }

  .\-9u\28large\29 {
    margin-left: 75%; }

  .\-8u\28large\29 {
    margin-left: 66.66667%; }

  .\-7u\28large\29 {
    margin-left: 58.33333%; }

  .\-6u\28large\29 {
    margin-left: 50%; }

  .\-5u\28large\29 {
    margin-left: 41.66667%; }

  .\-4u\28large\29 {
    margin-left: 33.33333%; }

  .\-3u\28large\29 {
    margin-left: 25%; }

  .\-2u\28large\29 {
    margin-left: 16.66667%; }

  .\-1u\28large\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 1080px) {
  .row > * {
    padding: 40px 0 0 40px; }

  .row {
    margin: -40px 0 -1px -40px; }

  .row.uniform > * {
    padding: 40px 0 0 40px; }

  .row.uniform {
    margin: -40px 0 -1px -40px; }

  .row.\32 00\25  > * {
    padding: 80px 0 0 80px; }

  .row.\32 00\25 {
    margin: -80px 0 -1px -80px; }

  .row.uniform.\32 00\25  > * {
    padding: 80px 0 0 80px; }

  .row.uniform.\32 00\25 {
    margin: -80px 0 -1px -80px; }

  .row.\31 50\25  > * {
    padding: 60px 0 0 60px; }

  .row.\31 50\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\31 50\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\31 50\25 {
    margin: -60px 0 -1px -60px; }

  .row.\35 0\25  > * {
    padding: 20px 0 0 20px; }

  .row.\35 0\25 {
    margin: -20px 0 -1px -20px; }

  .row.uniform.\35 0\25  > * {
    padding: 20px 0 0 20px; }

  .row.uniform.\35 0\25 {
    margin: -20px 0 -1px -20px; }

  .row.\32 5\25  > * {
    padding: 10px 0 0 10px; }

  .row.\32 5\25 {
    margin: -10px 0 -1px -10px; }

  .row.uniform.\32 5\25  > * {
    padding: 10px 0 0 10px; }

  .row.uniform.\32 5\25 {
    margin: -10px 0 -1px -10px; }

  .\31 2u\28medium\29, .\31 2u\24\28medium\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28medium\29, .\31 1u\24\28medium\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28medium\29, .\31 0u\24\28medium\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28medium\29, .\39 u\24\28medium\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28medium\29, .\38 u\24\28medium\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28medium\29, .\37 u\24\28medium\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28medium\29, .\36 u\24\28medium\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28medium\29, .\35 u\24\28medium\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28medium\29, .\34 u\24\28medium\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28medium\29, .\33 u\24\28medium\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28medium\29, .\32 u\24\28medium\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28medium\29, .\31 u\24\28medium\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28medium\29  + *,
  .\31 1u\24\28medium\29  + *,
  .\31 0u\24\28medium\29  + *,
  .\39 u\24\28medium\29  + *,
  .\38 u\24\28medium\29  + *,
  .\37 u\24\28medium\29  + *,
  .\36 u\24\28medium\29  + *,
  .\35 u\24\28medium\29  + *,
  .\34 u\24\28medium\29  + *,
  .\33 u\24\28medium\29  + *,
  .\32 u\24\28medium\29  + *,
  .\31 u\24\28medium\29  + * {
    clear: left; }

  .\-11u\28medium\29 {
    margin-left: 91.66667%; }

  .\-10u\28medium\29 {
    margin-left: 83.33333%; }

  .\-9u\28medium\29 {
    margin-left: 75%; }

  .\-8u\28medium\29 {
    margin-left: 66.66667%; }

  .\-7u\28medium\29 {
    margin-left: 58.33333%; }

  .\-6u\28medium\29 {
    margin-left: 50%; }

  .\-5u\28medium\29 {
    margin-left: 41.66667%; }

  .\-4u\28medium\29 {
    margin-left: 33.33333%; }

  .\-3u\28medium\29 {
    margin-left: 25%; }

  .\-2u\28medium\29 {
    margin-left: 16.66667%; }

  .\-1u\28medium\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 768px) {
  .row > * {
    padding: 40px 0 0 40px; }

  .row {
    margin: -40px 0 -1px -40px; }

  .row.uniform > * {
    padding: 40px 0 0 40px; }

  .row.uniform {
    margin: -40px 0 -1px -40px; }

  .row.\32 00\25  > * {
    padding: 80px 0 0 80px; }

  .row.\32 00\25 {
    margin: -80px 0 -1px -80px; }

  .row.uniform.\32 00\25  > * {
    padding: 80px 0 0 80px; }

  .row.uniform.\32 00\25 {
    margin: -80px 0 -1px -80px; }

  .row.\31 50\25  > * {
    padding: 60px 0 0 60px; }

  .row.\31 50\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\31 50\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\31 50\25 {
    margin: -60px 0 -1px -60px; }

  .row.\35 0\25  > * {
    padding: 20px 0 0 20px; }

  .row.\35 0\25 {
    margin: -20px 0 -1px -20px; }

  .row.uniform.\35 0\25  > * {
    padding: 20px 0 0 20px; }

  .row.uniform.\35 0\25 {
    margin: -20px 0 -1px -20px; }

  .row.\32 5\25  > * {
    padding: 10px 0 0 10px; }

  .row.\32 5\25 {
    margin: -10px 0 -1px -10px; }

  .row.uniform.\32 5\25  > * {
    padding: 10px 0 0 10px; }

  .row.uniform.\32 5\25 {
    margin: -10px 0 -1px -10px; }

  .\31 2u\28small\29, .\31 2u\24\28small\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28small\29, .\31 1u\24\28small\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28small\29, .\31 0u\24\28small\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28small\29, .\39 u\24\28small\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28small\29, .\38 u\24\28small\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28small\29, .\37 u\24\28small\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28small\29, .\36 u\24\28small\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28small\29, .\35 u\24\28small\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28small\29, .\34 u\24\28small\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28small\29, .\33 u\24\28small\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28small\29, .\32 u\24\28small\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28small\29, .\31 u\24\28small\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28small\29  + *,
  .\31 1u\24\28small\29  + *,
  .\31 0u\24\28small\29  + *,
  .\39 u\24\28small\29  + *,
  .\38 u\24\28small\29  + *,
  .\37 u\24\28small\29  + *,
  .\36 u\24\28small\29  + *,
  .\35 u\24\28small\29  + *,
  .\34 u\24\28small\29  + *,
  .\33 u\24\28small\29  + *,
  .\32 u\24\28small\29  + *,
  .\31 u\24\28small\29  + * {
    clear: left; }

  .\-11u\28small\29 {
    margin-left: 91.66667%; }

  .\-10u\28small\29 {
    margin-left: 83.33333%; }

  .\-9u\28small\29 {
    margin-left: 75%; }

  .\-8u\28small\29 {
    margin-left: 66.66667%; }

  .\-7u\28small\29 {
    margin-left: 58.33333%; }

  .\-6u\28small\29 {
    margin-left: 50%; }

  .\-5u\28small\29 {
    margin-left: 41.66667%; }

  .\-4u\28small\29 {
    margin-left: 33.33333%; }

  .\-3u\28small\29 {
    margin-left: 25%; }

  .\-2u\28small\29 {
    margin-left: 16.66667%; }

  .\-1u\28small\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 736px) {
  .row > * {
    padding: 20px 0 0 20px; }

  .row {
    margin: -20px 0 -1px -20px; }

  .row.uniform > * {
    padding: 20px 0 0 20px; }

  .row.uniform {
    margin: -20px 0 -1px -20px; }

  .row.\32 00\25  > * {
    padding: 40px 0 0 40px; }

  .row.\32 00\25 {
    margin: -40px 0 -1px -40px; }

  .row.uniform.\32 00\25  > * {
    padding: 40px 0 0 40px; }

  .row.uniform.\32 00\25 {
    margin: -40px 0 -1px -40px; }

  .row.\31 50\25  > * {
    padding: 30px 0 0 30px; }

  .row.\31 50\25 {
    margin: -30px 0 -1px -30px; }

  .row.uniform.\31 50\25  > * {
    padding: 30px 0 0 30px; }

  .row.uniform.\31 50\25 {
    margin: -30px 0 -1px -30px; }

  .row.\35 0\25  > * {
    padding: 10px 0 0 10px; }

  .row.\35 0\25 {
    margin: -10px 0 -1px -10px; }

  .row.uniform.\35 0\25  > * {
    padding: 10px 0 0 10px; }

  .row.uniform.\35 0\25 {
    margin: -10px 0 -1px -10px; }

  .row.\32 5\25  > * {
    padding: 5px 0 0 5px; }

  .row.\32 5\25 {
    margin: -5px 0 -1px -5px; }

  .row.uniform.\32 5\25  > * {
    padding: 5px 0 0 5px; }

  .row.uniform.\32 5\25 {
    margin: -5px 0 -1px -5px; }

  .\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28xsmall\29  + *,
  .\31 1u\24\28xsmall\29  + *,
  .\31 0u\24\28xsmall\29  + *,
  .\39 u\24\28xsmall\29  + *,
  .\38 u\24\28xsmall\29  + *,
  .\37 u\24\28xsmall\29  + *,
  .\36 u\24\28xsmall\29  + *,
  .\35 u\24\28xsmall\29  + *,
  .\34 u\24\28xsmall\29  + *,
  .\33 u\24\28xsmall\29  + *,
  .\32 u\24\28xsmall\29  + *,
  .\31 u\24\28xsmall\29  + * {
    clear: left; }

  .\-11u\28xsmall\29 {
    margin-left: 91.66667%; }

  .\-10u\28xsmall\29 {
    margin-left: 83.33333%; }

  .\-9u\28xsmall\29 {
    margin-left: 75%; }

  .\-8u\28xsmall\29 {
    margin-left: 66.66667%; }

  .\-7u\28xsmall\29 {
    margin-left: 58.33333%; }

  .\-6u\28xsmall\29 {
    margin-left: 50%; }

  .\-5u\28xsmall\29 {
    margin-left: 41.66667%; }

  .\-4u\28xsmall\29 {
    margin-left: 33.33333%; }

  .\-3u\28xsmall\29 {
    margin-left: 25%; }

  .\-2u\28xsmall\29 {
    margin-left: 16.66667%; }

  .\-1u\28xsmall\29 {
    margin-left: 8.33333%; } }
@media screen and (max-width: 480px) {
  .row > * {
    padding: 20px 0 0 20px; }

  .row {
    margin: -20px 0 -1px -20px; }

  .row.uniform > * {
    padding: 20px 0 0 20px; }

  .row.uniform {
    margin: -20px 0 -1px -20px; }

  .row.\32 00\25  > * {
    padding: 40px 0 0 40px; }

  .row.\32 00\25 {
    margin: -40px 0 -1px -40px; }

  .row.uniform.\32 00\25  > * {
    padding: 40px 0 0 40px; }

  .row.uniform.\32 00\25 {
    margin: -40px 0 -1px -40px; }

  .row.\31 50\25  > * {
    padding: 30px 0 0 30px; }

  .row.\31 50\25 {
    margin: -30px 0 -1px -30px; }

  .row.uniform.\31 50\25  > * {
    padding: 30px 0 0 30px; }

  .row.uniform.\31 50\25 {
    margin: -30px 0 -1px -30px; }

  .row.\35 0\25  > * {
    padding: 10px 0 0 10px; }

  .row.\35 0\25 {
    margin: -10px 0 -1px -10px; }

  .row.uniform.\35 0\25  > * {
    padding: 10px 0 0 10px; }

  .row.uniform.\35 0\25 {
    margin: -10px 0 -1px -10px; }

  .row.\32 5\25  > * {
    padding: 5px 0 0 5px; }

  .row.\32 5\25 {
    margin: -5px 0 -1px -5px; }

  .row.uniform.\32 5\25  > * {
    padding: 5px 0 0 5px; }

  .row.uniform.\32 5\25 {
    margin: -5px 0 -1px -5px; }

  .\31 2u\28xxsmall\29, .\31 2u\24\28xxsmall\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28xxsmall\29, .\31 1u\24\28xxsmall\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28xxsmall\29, .\31 0u\24\28xxsmall\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28xxsmall\29, .\39 u\24\28xxsmall\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28xxsmall\29, .\38 u\24\28xxsmall\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28xxsmall\29, .\37 u\24\28xxsmall\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28xxsmall\29, .\36 u\24\28xxsmall\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28xxsmall\29, .\35 u\24\28xxsmall\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28xxsmall\29, .\34 u\24\28xxsmall\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28xxsmall\29, .\33 u\24\28xxsmall\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28xxsmall\29, .\32 u\24\28xxsmall\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28xxsmall\29, .\31 u\24\28xxsmall\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28xxsmall\29  + *,
  .\31 1u\24\28xxsmall\29  + *,
  .\31 0u\24\28xxsmall\29  + *,
  .\39 u\24\28xxsmall\29  + *,
  .\38 u\24\28xxsmall\29  + *,
  .\37 u\24\28xxsmall\29  + *,
  .\36 u\24\28xxsmall\29  + *,
  .\35 u\24\28xxsmall\29  + *,
  .\34 u\24\28xxsmall\29  + *,
  .\33 u\24\28xxsmall\29  + *,
  .\32 u\24\28xxsmall\29  + *,
  .\31 u\24\28xxsmall\29  + * {
    clear: left; }

  .\-11u\28xxsmall\29 {
    margin-left: 91.66667%; }

  .\-10u\28xxsmall\29 {
    margin-left: 83.33333%; }

  .\-9u\28xxsmall\29 {
    margin-left: 75%; }

  .\-8u\28xxsmall\29 {
    margin-left: 66.66667%; }

  .\-7u\28xxsmall\29 {
    margin-left: 58.33333%; }

  .\-6u\28xxsmall\29 {
    margin-left: 50%; }

  .\-5u\28xxsmall\29 {
    margin-left: 41.66667%; }

  .\-4u\28xxsmall\29 {
    margin-left: 33.33333%; }

  .\-3u\28xxsmall\29 {
    margin-left: 25%; }

  .\-2u\28xxsmall\29 {
    margin-left: 16.66667%; }

  .\-1u\28xxsmall\29 {
    margin-left: 8.33333%; } }
/* Basic */
body.is-loading *, body.is-loading *:before, body.is-loading *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important; }

body {
  background: #e5e5e5;
  background-image: url("images/bg.svg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 320px; }
  body:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 22em;
    height: 100%;
    background: #fff; }

body, input, select, textarea {
  font-family: "Source Sans Pro", arial, sans-serif;
  font-weight: 600;
  font-size: 13pt;
  line-height: 1.5em;
  color: #b3b3b3; }

strong, b {
  color: #828282; }

a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  border-bottom: dotted 1px;
  color: inherit; }
  a:hover {
    border-bottom-color: transparent;
    color: #5FCEC0; }

h1, h2, h3, h4, h5, h6 {
  color: #828282; }

h2 {
  font-size: 1.5em;
  letter-spacing: -0.015em;
  margin: 0 0 1.5em 0;
  line-height: 1.5em; }

h3 {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 900;
  letter-spacing: 0.075em; }
  h3 a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0; }

p, ul, ol, table, form {
  margin: 0 0 1.5em 0; }

dl dt {
  font-size: 1.25em;
  line-height: 1.5em;
  letter-spacing: -0.015em;
  color: #828282;
  margin: 0 0 0.75em 0; }
dl dd {
  margin: 0 0 2em 0; }
  dl dd > :last-child {
    margin-bottom: 0; }
  dl dd:last-child {
    margin-bottom: 0; }

small {
  font-size: 0.8em; }

/* Image */
.image {
  border-radius: 4px;
  overflow: hidden; }
  .image img {
    width: 100%; }
  .image.fit {
    display: block;
    width: 100%; }
  .image.feature {
    display: block;
    width: 100%;
    margin: 0 0 1.5em 0; }

/* License Box */
.license-box {
  border-radius: 4px;
  background: #4f4f4f;
  color: #fff;
  padding: 1.5em;
  text-align: center;
  margin: 0 0 1.5em 0; }
  .license-box p {
    margin: 0.5em 0 0 0;
    font-size: 1.25em;
    line-height: 1.5em;
    letter-spacing: -0.015em; }
  .license-box .license-button {
    border: 0; }

/* Button */
.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.9em !important;
  font-weight: 900;
  letter-spacing: 0.075em;
  line-height: 3em;
  padding: 0 1.75em;
  border: solid 2px #dfdfdf;
  border-radius: 4px;
  color: #828282;
  text-align: center;
  background: none;
  cursor: pointer; }
  .button .extra,
  input[type="button"] .extra,
  input[type="submit"] .extra,
  input[type="reset"] .extra {
    font-weight: 600 !important; }
  .button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    color: #5FCEC0;
    border-color: #5FCEC0; }
  .button.small,
  input[type="button"].small,
  input[type="submit"].small,
  input[type="reset"].small {
    font-size: 0.7em !important; }
  .button.square,
  input[type="button"].square,
  input[type="submit"].square,
  input[type="reset"].square {
    padding: 0;
    width: 3.25em;
    height: 3.25em; }
  .button.special,
  input[type="button"].special,
  input[type="submit"].special,
  input[type="reset"].special {
    background: #5FCEC0;
    color: #fff;
    border-color: #5FCEC0; }
    .button.special:hover,
    input[type="button"].special:hover,
    input[type="submit"].special:hover,
    input[type="reset"].special:hover {
      background: #3bbfaf;
      border-color: #3bbfaf; }
  .button.twitter,
  input[type="button"].twitter,
  input[type="submit"].twitter,
  input[type="reset"].twitter {
    background: #00bcee;
    border-color: #00bcee;
    color: #fff; }
  .button.disabled, .button:disabled,
  input[type="button"].disabled,
  input[type="button"]:disabled,
  input[type="submit"].disabled,
  input[type="submit"]:disabled,
  input[type="reset"].disabled,
  input[type="reset"]:disabled {
    color: #fff !important;
    background: #c6c6c6 !important;
    border-color: #c6c6c6 !important;
    cursor: default; }
  .button.fit,
  input[type="button"].fit,
  input[type="submit"].fit,
  input[type="reset"].fit {
    display: block;
    width: 100%; }

input[type="button"],
input[type="submit"],
input[type="reset"] {
  height: 3em; }

/* Form */
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  -moz-transition: border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -webkit-transition: border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -ms-transition: border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  padding: 0 0.75em;
  border: solid 2px #dfdfdf;
  border-radius: 4px;
  color: #828282;
  background: rgba(0, 0, 0, 0.025); }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    border-color: #5FCEC0; }

input[type="text"],
input[type="email"],
input[type="password"] {
  line-height: 3em;
  height: 3em; }

textarea {
  padding: 0.75em; }

select {
  padding: 0.75em; }

label {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 900;
  letter-spacing: 0.075em;
  color: #828282;
  margin: 0 0 0.5em 0;
  display: block; }

/* Alert */
.alert {
  display: block;
  width: 100%;
  line-height: 3em;
  height: 3em;
  padding: 0 0.75em;
  border-radius: 4px;
  color: #828282;
  background: #888;
  color: #fff;
  margin: 0 0 1em 0; }
  .alert.error {
    background: #ee8888; }
    .alert.error strong {
      color: #fff; }
  .alert.success {
    background: #88cc88; }
    .alert.success strong {
      color: #fff; }

/* Item */
.items {
  overflow: hidden;
  text-align: center;
  margin: 0 0 2em 0; }

.item {
  position: relative;
  display: inline-block;
  width: 18em;
  border-radius: 4px;
  background: #fff;
  padding: 0.5em 0.5em 3em 0.5em;
  margin: 1em; }
  .item .tag {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    height: 2.25em;
    line-height: 2.25em;
    padding: 0 0.85em;
    border-radius: 0 4px 0 4px;
    background: #ff6098;
    color: #fff; }
    .item .tag span {
      text-transform: uppercase;
      font-size: 0.75em;
      font-weight: 900;
      letter-spacing: 0.075em; }
  .item header {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    width: 100%;
    height: 3em;
    line-height: 3em;
    z-index: 1;
    border-radius: 0 0 4px 4px; }
    .item header .type {
      position: absolute;
      right: 1em;
      top: 0;
      font-size: 0.9em; }
    .item header h3 {
      position: absolute;
      left: 1em;
      top: 0; }
  .item footer {
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    height: calc(100% - 3em); }
    .item footer .button {
      white-space: nowrap;
      color: #fff;
      border-color: #fff; }
    .item footer p {
      color: #fff; }
    .item footer strong {
      color: #fff;
      font-weight: 900; }
    .item footer .inner {
      display: inline-block;
      width: 80%;
      vertical-align: middle; }
    .item footer:before {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      width: 1px; }
  .item .image {
    display: block;
    width: 100%;
    background: #2a3033;
    border: 0;
    border-radius: 4px;
    overflow: hidden; }
    .item .image img {
      -moz-transition: opacity 0.2s ease-in-out;
      -webkit-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
      display: block;
      width: 100%;
      opacity: 1.0; }
  .item:hover footer {
    opacity: 1.0; }
  .item:hover .image img {
    opacity: 0.25; }

/* Table */
table {
  border: solid 2px #f3f3f3;
  width: 100%;
  text-align: left; }
  table th {
    color: #828282;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 900;
    letter-spacing: 0.075em; }
  table th, table td {
    padding: 0.75em 1em;
    vertical-align: top; }
    table th.important, table td.important {
      width: 100%; }
    table th > :last-child, table td > :last-child {
      margin-bottom: 0; }
  table thead {
    border-bottom: solid 2px #f3f3f3; }
  table tbody tr {
    border-top: solid 1px #f3f3f3;
    /*
 *     &:nth-child(2n - 1) {
 *         	background: transparentize(_palette(border), 0.5);
 *         	    }
 *         	        */ }
    table tbody tr:first-child {
      border-top: 0; }
  table .image {
    display: block;
    width: 5em;
    max-height: 5em;
    overflow: hidden;
    float: left;
    margin-right: 1em;
    border-radius: 4px;
    border: 0; }
    table .image img {
      display: block;
      width: 100%; }

/* Lists */
ul.social {
  overflow: hidden;
  line-height: 0;
  white-space: nowrap;
  height: 23px; }
  ul.social > li {
    display: inline-block;
    float: right;
    margin-right: 12px; }
    ul.social > li:first-child {
      margin-right: 0; }
    ul.social > li.twitter {
      width: 104px; }
    ul.social > li.google-plus {
      width: 64px; }
    ul.social > li.facebook {
      width: 83px; }
ul.actions {
  width: 100%;
  white-space: nowrap; }
  ul.actions > li {
    display: inline-block;
    margin-left: 0.5em; }
    ul.actions > li:first-child {
      margin-left: 0; }
  ul.actions.vertical > li {
    display: block;
    margin: 0.75em 0 0 0; }
    ul.actions.vertical > li:first-child {
      margin-top: 0; }
ul.links > li {
  margin-top: 1.75em; }
  ul.links > li:first-child {
    margin-top: 0; }
ul.pagination {
  cursor: default;
  margin: 0;
  text-align: center; }
  ul.pagination li {
    display: inline-block;
    margin: 0 0.25em; }
  ul.pagination .button {
    width: 10em;
    padding: 0; }
  ul.pagination .page.current a {
    color: #ff6098;
    border-color: #ff6098; }
  ul.pagination .page a {
    -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background 0.2s ease-in-out;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 3em;
    width: 3em;
    text-align: center;
    border-radius: 4px;
    color: #828282;
    background: #fff;
    border: solid 2px #fff; }
    ul.pagination .page a:hover {
      color: #5FCEC0;
      border-color: #5FCEC0; }

/* Header */
#header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 22em;
  padding: 4em 2.5em 2.5em 2.5em;
  text-align: right; }
  #header h1 {
    display: inline-block;
    margin: 0 0 1.75em 0; }
    #header h1 a {
      border: 0;
      display: inline-block;
      background: url("images/logo.png");
      background-size: contain;
      width: 210px;
      height: 66px;
      overflow-x: hidden;
      text-indent: 100%; }
  #header p {
    font-size: 1.5em;
    letter-spacing: -0.015em;
    line-height: 1.5em;
    padding-left: 1em; }

/* Footer */
#footer {
  position: absolute;
  left: 0;
  top: 0;
  width: 22em;
  z-index: 1;
  padding: 33em 2.5em 2.5em 2.5em;
  text-align: right; }
  #footer section {
    border-top: solid 2px #f3f3f3;
    margin: 3em 0 0 0;
    padding: 3em 0 0 0; }
    #footer section:first-child {
      margin-top: 0; }
    #footer section h2 {
      color: inherit; }
  #footer .social {
    margin: 0 0 1em 0; }
  #footer .copyright {
    font-size: 0.8em;
    color: #d0d0d0; }

/* Main */
#main {
  margin-left: 22em;
  padding: 4em 1em 8em 1em;
  position: relative; }

/* Ads */
#ad1 {
  position: absolute;
  left: 0;
  top: 3em;
  width: 100%;
  text-align: center; }
  #ad1 .unit {
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 0 0.5em #fff;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.35);
    border: 0;
    width: 728px;
    height: 90px; }
    #ad1 .unit a {
      width: 728px;
      height: 90px;
      border: 0; }
    #ad1 .unit img {
      display: block;
      width: 100% !important;
      height: 100% !important; }

#ad2 {
  width: 300px;
  position: relative;
  left: 50%;
  margin-left: -150px; }
  #ad2 .unit a {
    width: 100%;
    border: 0; }
  #ad2 .unit img {
    display: block;
    width: 100% !important; }

#ad3 {
  width: 100%;
  text-align: center;
  position: relative;
  top: 3em; }
  #ad3 .unit {
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 0 0.5em #fff;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.35);
    border: 0;
    width: 728px;
    height: 90px; }
    #ad3 .unit a {
      width: 728px;
      height: 90px;
      border: 0; }
    #ad3 .unit img {
      display: block;
      width: 100% !important;
      height: 100% !important; }

/* Modal */
#modal {
  position: relative;
  background: #fff;
  border-radius: 4px;
  margin: 0 auto;
  padding: 3em; }
  #modal > header {
    margin: 0; }
    #modal > header h2 {
      font-size: 2.5em;
      letter-spacing: -0.015em;
      margin: 0 0 1em 0; }
  #modal > .content {
    line-height: 1.75em; }
    #modal > .content > .status {
      position: absolute;
      top: 3em;
      right: 3em; }
    #modal > .content > :last-child {
      margin-bottom: 0; }
  #modal .item {
    border: solid 2px #f3f3f3; }

/* Demo */
#demo-main {
  position: fixed;
  left: 0;
  top: 110px;
  width: 100%;
  height: calc(100% - 110px); }
  #demo-main iframe {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%; }

#demo-header {
  position: relative;
  height: 110px;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  z-index: 10000; }
  #demo-header .button.square span {
    position: absolute;
    text-indent: -9999px; }
  #demo-header .button.back {
    text-decoration: none; }
    #demo-header .button.back:before {
      content: "h";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: 'td';
      font-style: normal;
      font-weight: normal;
      text-transform: none !important; }
  #demo-header .button.previous {
    text-decoration: none; }
    #demo-header .button.previous:before {
      content: "l";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: 'td';
      font-style: normal;
      font-weight: normal;
      text-transform: none !important; }
  #demo-header .button.next {
    text-decoration: none; }
    #demo-header .button.next:before {
      content: "r";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: 'td';
      font-style: normal;
      font-weight: normal;
      text-transform: none !important; }
  #demo-header .name {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -1.5em;
    z-index: 1; }
    #demo-header .name .button {
      margin-right: 1em; }
    #demo-header .name h1 {
      position: relative;
      top: 0.1em;
      font-size: 1.5em;
      letter-spacing: -0.015em;
      display: inline-block; }
      #demo-header .name h1 .type {
        color: #b3b3b3;
        font-size: 0.7em;
        position: relative;
        top: -0.05em;
        margin-left: 0.5em; }
      #demo-header .name h1 .tag {
        padding: 0.5em 1em;
        margin-left: 0.75em;
        vertical-align: middle;
        border-radius: 4px;
        background: #ff6098;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.5em;
        font-weight: 900;
        letter-spacing: 0.075em; }
  #demo-header .actions {
    width: auto;
    position: absolute;
    top: 50%;
    right: 20px;
    margin: -1.5em 0 0 0;
    z-index: 1; }

#demo-ad {
  position: absolute;
  left: 50%;
  top: 10px;
  width: 728px;
  z-index: 10001;
  margin-left: -364px;
  overflow: hidden; }
  #demo-ad .unit {
    display: block;
    margin: 0 auto;
    width: 728px;
    height: 90px; }
    #demo-ad .unit a {
      border: 0; }
    #demo-ad .unit img {
      display: block;
      width: 100%;
      height: 100%; }

#demo-iframe-alt {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #2a3033;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  #demo-iframe-alt .inner {
    position: relative;
    z-index: 1;
    text-align: center;
    width: 100%;
    padding: 2em; }
    #demo-iframe-alt .inner .button {
      white-space: nowrap;
      color: #fff;
      border-color: #fff; }
    #demo-iframe-alt .inner p {
      color: #fff; }
    #demo-iframe-alt .inner strong {
      color: #fff;
      font-weight: 900; }
  #demo-iframe-alt .bg {
    opacity: 0.25;
    position: absolute;
    left: -10%;
    top: -10%;
    width: 120%;
    height: 120%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px); }

@-moz-keyframes hellip {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.25; }
  100% {
    opacity: 1.0; } }
@-webkit-keyframes hellip {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.25; }
  100% {
    opacity: 1.0; } }
@-ms-keyframes hellip {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.25; }
  100% {
    opacity: 1.0; } }
@keyframes hellip {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.25; }
  100% {
    opacity: 1.0; } }
#demo-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(40, 40, 40, 0.75);
  z-index: 11000; }
  #demo-modal section {
    background: #fff;
    width: 35em;
    height: 20em;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10em 0 0 -17.5em;
    text-align: center;
    border-radius: 4px;
    z-index: 1;
    padding: 2.5em 2em; }
    #demo-modal section .closer {
      text-decoration: none;
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      width: 3em;
      height: 3em;
      line-height: 3em;
      z-index: 2;
      cursor: pointer; }
      #demo-modal section .closer:before {
        content: "c";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: 'td';
        font-style: normal;
        font-weight: normal;
        text-transform: none !important; }
    #demo-modal section h2 {
      position: relative;
      font-size: 2.25em;
      margin: 0 0 0.35em 0;
      display: inline-block; }
      #demo-modal section h2:after {
        -moz-animation: hellip 1s infinite;
        -webkit-animation: hellip 1s infinite;
        -ms-animation: hellip 1s infinite;
        animation: hellip 1s infinite;
        content: '...';
        position: absolute;
        right: -1.25em;
        top: 0.25em;
        font-size: 0.5em; }
    #demo-modal section p {
      font-size: 1.25em; }
    #demo-modal section .actions {
      width: auto;
      display: inline-block;
      margin: 0; }
    #demo-modal section .button {
      width: 100%; }
    #demo-modal section .social > li {
      float: none;
      overflow: hidden;
      margin: 0 0 0 0.5em; }
      #demo-modal section .social > li:first-child {
        margin-left: 0; }

/* Page: Landing */
body.is-landing #main {
  padding-top: 10em; }

/* Page: Demo */
body.is-demo {
  background: #e5e5e5; }
  body.is-demo:before {
    display: none; }

/* XLarge */
@media screen and (max-width: 1680px) {
  /* Basic */
  body, input, select, textarea {
    font-size: 11pt; }

  body:before,
  #header,
  #footer {
    width: 21em; }

  /* Lists */
  ul.social > li {
    margin-right: 2px; }

  /* Item */
  .item {
    width: 16.5em;
    margin: 0.85em; }
    .item h3, .item .type {
      font-size: 0.8em; }
    .item p {
      font-size: 0.9em; }

  /* Header, Footer */
  #header, #footer {
    padding-left: 1.5em;
    padding-right: 1.5em; }

  /* Main */
  #main {
    margin-left: 21em; }

  /* Ads */
  #ad1 {
    top: 2.5em; }
    #ad1 .unit {
      width: 728px;
      height: 90px; }

  #ad3 .unit {
    width: 728px;
    height: 90px; } }
/* Large */
@media screen and (max-width: 1366px) {
  /* Item */
  .item {
    width: 19em;
    margin: 0.75em; }
    .item h3 {
      font-size: 0.9em; }
    .item .type {
      font-size: 1em; }

  /* Ads */
  #ad1 {
    top: 2.25em; }
    #ad1 .unit {
      width: 728px;
      height: 90px; }

  #ad3 {
    top: 2.5em; }

  /* Demo */
  #demo-header .button {
    height: 4em;
    width: 4em;
    line-height: 3.75em;
    padding: 0;
    margin: 0; }
    #demo-header .button.download {
      text-decoration: none; }
      #demo-header .button.download:before {
        content: "d";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: 'td';
        font-style: normal;
        font-weight: normal;
        text-transform: none !important; }
    #demo-header .button span {
      display: none; }
  #demo-header .name {
    right: 13.75em;
    left: auto;
    margin-top: -1.65em; }
    #demo-header .name .button.back {
      margin: 0; }
    #demo-header .name h1 {
      position: absolute;
      text-indent: -9999px; }
  #demo-header .actions {
    right: 20px;
    margin-top: -1.65em; }
    #demo-header .actions li {
      display: inline-block;
      width: auto;
      margin-left: 0.5em; }

  #demo-ad {
    width: calc(100% - 19.5em);
    max-width: 728px;
    left: 10px;
    margin-left: 0; }
    #demo-ad .unit {
      width: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center; }
      #demo-ad .unit a {
        vertical-align: middle;
        display: inline-block;
        width: 100%; } }
/* Medium */
#sidebarPanel, #titleBar {
  display: none; }

@media screen and (max-width: 1080px) {
  /* Basic */
  body:before {
    display: none; }

  /* Item */
  .item {
    width: 20em;
    margin: 1em; }

  /* Header, Footer */
  #header, #footer {
    display: none; }

  /* Header */
  #header p {
    padding-left: 0; }

  /* Main */
  #main {
    margin-left: 0;
    margin-top: 44px;
    padding: 15px 15px 75px 15px; }

  /* Ads */
  #ad1 {
    top: 0;
    background: rgba(0, 0, 0, 0.075);
    padding: 20px 0; }
    #ad1 .unit {
      box-shadow: none; }

  #ad3 .unit {
    box-shadow: none; }

  /* Page: Landing */
  body.is-landing #main {
    padding-top: 160px; }

  /* Page: Demo */
  body.is-demo #titleBar, body.is-demo #sidebarPanel {
    display: none !important; }

  /* Sidebar Panel */
  #sidebarPanel {
    display: block;
    position: relative;
    background: #fff;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    width: 21em;
    height: 100%;
    z-index: 10101;
    overflow-y: auto;
    overflow-x: hidden;
    -moz-transform: translateX(-21em);
    -webkit-transform: translateX(-21em);
    -ms-transform: translateX(-21em);
    transform: translateX(-21em);
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease; }
    #sidebarPanel .closer {
      text-decoration: none;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      width: 3.5em;
      height: 3.5em;
      text-align: center;
      line-height: 1em;
      border: 0;
      outline: 0; }
      #sidebarPanel .closer:before {
        content: "c";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: 'td';
        font-style: normal;
        font-weight: normal;
        text-transform: none !important; }
      #sidebarPanel .closer:hover {
        color: inherit; }
      #sidebarPanel .closer:before {
        font-size: 0.8em;
        position: absolute;
        right: 1.5em;
        top: 1.5em;
        opacity: 0.5; }
    #sidebarPanel #header, #sidebarPanel #footer {
      text-align: center;
      display: block;
      background: none;
      position: relative !important;
      z-index: 1; }
    #sidebarPanel #footer {
      padding-top: 0; }

  body:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(64, 64, 64, 0.5);
    opacity: 0;
    z-index: -1;
    -moz-transition: opacity 0.5s ease, z-index 0.5s;
    -webkit-transition: opacity 0.5s ease, z-index 0.5s;
    -ms-transition: opacity 0.5s ease, z-index 0.5s;
    transition: opacity 0.5s ease, z-index 0.5s; }
  body.is-sidebarPanel-visible:before {
    opacity: 1;
    display: block;
    z-index: 10099; }
  body.is-sidebarPanel-visible #sidebarPanel {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

  #titleBar {
    display: block;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 44px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10100; }
    #titleBar .toggle {
      text-decoration: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 80px;
      height: 60px;
      color: #5FCEC0;
      border: 0;
      outline: 0; }
      #titleBar .toggle:before {
        content: "m";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: 'td';
        font-style: normal;
        font-weight: normal;
        text-transform: none !important; }
      #titleBar .toggle:before {
        position: absolute;
        display: block;
        width: 42px;
        height: 44px;
        top: 0;
        left: 0;
        line-height: 44px;
        text-align: center;
        font-size: 1.25em; }
      #titleBar .toggle:after {
        content: '';
        position: absolute;
        display: block;
        width: 44px;
        height: 44px;
        top: 0;
        left: 0;
        line-height: 44px;
        text-align: center;
        border-right: solid 2px #f3f3f3; }
    #titleBar .logo {
      display: block;
      text-align: center;
      line-height: 44px;
      font-weight: 900;
      letter-spacing: 0.075em;
      text-transform: uppercase;
      color: #828282;
      font-size: 1em; } }
/* Small */
@media screen and (max-width: 768px) {
  /* Item */
  .item {
    width: 47%;
    margin: 1%; }

  /* Modal */
  #modal {
    padding: 2em 1.25em; }
    #modal header h2 {
      font-size: 1.5em; }
    #modal .status {
      position: relative;
      top: 0;
      left: 0;
      text-align: center;
      margin-top: -1.5em; }
      #modal .status .button {
        display: inline-block;
        width: auto; }

  /* Page: Landing */
  body.is-landing #main {
    padding-top: 140px; } }
/* XSmall */
@media screen and (max-width: 736px) {
  /* Button */
  .button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    display: block;
    width: 100%;
    max-width: 320px;
    margin: 0 auto; }
    .button .extra,
    input[type="button"] .extra,
    input[type="submit"] .extra,
    input[type="reset"] .extra {
      display: none; }

  /* Lists */
  ul.actions {
    text-align: center; }
    ul.actions li {
      display: block;
      width: 100%;
      margin: 0.25em 0 0.25em 0; }
  ul.pagination {
    overflow: hidden; }
    ul.pagination li {
      margin: 0;
      width: 50%;
      float: left;
      padding: 0 0.5em; }
      ul.pagination li .button {
        display: block;
        width: 100%; }
    ul.pagination .page,
    ul.pagination .ellipsis {
      display: none; }

  /* Item */
  .items {
    margin: 0 0 15px 0; }

  .item footer .button {
    display: inline-block;
    width: auto; }

  /* License Box */
  .license-box {
    padding: 1.25em; }
    .license-box p {
      font-size: 1em;
      line-height: inherit;
      letter-spacing: 0;
      margin: 0; }

  /* Ads */
  #ad1 {
    padding: 0; }
    #ad1 .unit {
      width: 468px;
      height: 60px; }
      #ad1 .unit a {
        width: 468px;
        height: 60px; }

  #ad2 {
    width: 260px;
    margin-left: -130px; }
    #ad2 img {
      height: 216px; }

  #ad3 {
    padding: 0; }
    #ad3 .unit {
      width: 468px;
      height: 60px; }
      #ad3 .unit a {
        width: 468px;
        height: 60px; }

  /* Sidebar Panel */
  #sidebarPanel #header, #sidebarPanel #footer {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%; }
  #sidebarPanel #header {
    padding-top: 3em; }
    #sidebarPanel #header h1 {
      margin: 0 0 1.5em 0; }
      #sidebarPanel #header h1 a {
        width: 178px;
        height: 56px; }
    #sidebarPanel #header p {
      font-size: 1.25em;
      margin: 0 0 1.75em 0; }

  /* Page: Landing */
  body.is-landing #main {
    padding-top: 75px; }

  /* Demo */
  #demo-header {
    white-space: nowrap;
    text-align: center;
    padding-top: 45px; }
    #demo-header .name {
      position: relative;
      right: auto;
      margin-top: 0;
      display: inline-block;
      top: 0; }
    #demo-header .actions {
      position: relative;
      top: auto;
      width: auto;
      display: inline-block;
      margin-top: 0;
      right: auto; }

  #demo-ad {
    top: 5px;
    left: 0;
    max-width: 100%;
    width: 100%; }
    #demo-ad .unit {
      width: 320px;
      height: 40px; } }
/* XXSmall */
@media screen and (max-width: 480px) {
  /* Item */
  .item {
    width: 100%;
    margin: 0 0 15px 0; }

  /* Main */
  #main {
    margin-top: 44px; }

  /* Ads */
  #ad1 {
    top: 0;
    height: 50px; }
    #ad1 .unit {
      width: 320px;
      height: 50px; }
      #ad1 .unit a {
        width: 320px;
        height: 50px; }

  #ad3 {
    height: 50px; }
    #ad3 .unit {
      width: 320px;
      height: 50px; }
      #ad3 .unit a {
        width: 320px;
        height: 50px; }

  /* Page: Landing */
  body.is-landing #main {
    padding-top: 65px; } }
